* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 58px;
    min-height: 100vh;
	display: flex;
  } 

  .form_body { 
    background-image: url(https://i.pinimg.com/originals/ff/26/d5/ff26d5a8cb3416fcf8ac05224acb858c.png);
	background-size: cover;
	overflow: hidden;
	display: flex;
  }
  
  .container {
	min-width: 600px;
	margin: auto;
  } 

  .wrapper{
    width: 100%;
    background: #051493;
    border-radius: 5px;
    box-shadow: 0px 4px 15px 5px black;
	
  }
  .wrapper .title{
    height: 80px;
    background: black;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form{
    padding: 30px 25px 25px 25px;
  }
  .wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  .wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  form .row input:focus{
    border-color: black;
    box-shadow: inset 0px 0px 2px 2px #333333;
  }
  form .row input::placeholder{
    color: #999;
  }
  .wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: black;
    border: 1px solid white;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper form .pass{
    margin: -8px 0 20px 0;
  }
  .wrapper form .pass a{
    color: black;
    font-size: 17px;
    text-decoration: none;
  }
  .wrapper form .pass a:hover{
    text-decoration: underline;
  }
  .wrapper form .button input{
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: black;
    border: 1px solid white;
    cursor: pointer;
  }
  form .button input:hover{
    background: green;
  }
  .wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  .wrapper form .signup-link a{
    color: black;
    text-decoration: none;
  }
  form .signup-link a:hover{
    text-decoration: underline;
  } 

 .container .wrapper form .error-msg{
    margin: 0px 0px 29px;
    display: block;
	background: rgb(255, 0, 0);
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px; 
    text-align: center; 
 } 

 .success-msg{
  margin: 0px 0px 29px;
  display: block;
  background: rgb(0, 77, 19);
  border-radius: 5px;
  font-size: 20px;
  padding: 10px; 
  text-align: center; 
}