body {
    font-family: "Varela Round";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
	  color: white;
}

header {
  background-color: #051493;
  font-family:'Times New Roman', Times, serif;
}

li a{
	color:white;
	font-size: 25px;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f7;
  font-family: "Varela Round";
  color: white;
}

.logo {
	margin: auto;
	padding-left: 20px;
	padding-top: 20px;
}

.headblocks-contact {
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.5em;
  padding-top: 5px;

}

.transport {
  font-size: 15px;
}
  
.headblocks-contact > ul {
    padding: 10px;
}
  
.footer-links {
    padding: 0px;
}
  
.footer-content {
    padding: 0px;
}

li:first-child {
  font-size: 15px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-top: 30px;
  padding-right: 50px;
  color: white;
}

.amount {
  font-size: 14px;
  width: 18px;
  height: 18px;
  background: white;
  color: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.user {
  display: flex;
  margin-top: 35px;
}

h4 {
  font-weight: 400;
  margin-bottom: 15px;
  color: rgb(0, 0, 0);
  font-family: "Alegreya", serif;
  font-size: 24px;
  line-height: 1.2em;
}



.column-content {
  color: black;
  margin-top: 20px;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: normal;
  line-height: 2.2;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  
}

.right {
  justify-content: right;
  margin-right: 30px;
}

.center {
  justify-content: center;
  margin-right: 30px;
}

.left {
  justify-content: left;
  margin-left: 50px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 4.9s;
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

.nav{
    justify-content:center;
	font-weight: bold;
}

.nav a{
    padding:10px;
}

table {
  table-layout:auto;
  width: 50%;
  border-collapse: collapse;
  border: 2px solid purple;
  text-align:center;
  font-weight:bold;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;

}

th,
td {
  border: 2px solid black
}

.name p {
	color: white;
}

/*

About Page CSS
*/

#main {
  background-color: white;
}

.abc{
  text-align: justify;
  font-size: 22px;
  align-content: center;
  color: rgb(62, 66, 171);
}
.abc h1{
  color: rgb(24, 99, 184);
}
.topic{
  font-size: 60px;
  color: rgb(100, 127, 248);
  text-align: center;
}


body{
  background: #0c3c53
}
.slider {
  position: relative;
  width: 350px;
  margin: 10px auto;
  perspective: 1000px;
  padding-top: 120px;
  }
.rotator {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 55%;
  height: 200px;
  transform-style: preserve-3d;
  animation: roter 29s linear infinite;
  }
.items {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 2px solid white;
    }

.items img {
    height: 100%;
    width: 100%;
    transition: all 3s ease;
}
.items:hover img {
  transform: scale(1.1);
}
@keyframes roter {
  from {
  transform: rotateY(0deg);
    }
    to {
    transform: rotateY(360deg);
    }
    }
.items:first-child {
      transform: rotateY(calc(40deg)) translateZ(300px);
      }
  
.items:nth-child(2) {
      transform: rotateY(calc(80deg)) translateZ(300px);
      }
  
.items:nth-child(3) {
      transform: rotateY(calc(120deg)) translateZ(300px);
      }
  
.items:nth-child(4) {
      transform: rotateY(calc(160deg)) translateZ(300px);
      }
  
   .items:nth-child(5) {
      transform: rotateY(calc(200deg)) translateZ(300px);
      }
  
   .items:nth-child(6) {
      transform: rotateY(calc(240deg)) translateZ(300px);
      }
  
   .items:nth-child(7) {
      transform: rotateY(calc(280deg)) translateZ(300px);
      }
  
   .items:nth-child(8) {
      transform: rotateY(calc(320deg)) translateZ(300px);
      }
  
   .items:nth-child(9) {
      transform: rotateY(calc(360deg)) translateZ(300px);
      }
      .rotator:hover {
        animation-play-state: paused;
        }

        body1 {
          min-height: 100vh;
          background: #fafafa;
        }
        
        
      
        
        .progress {
          height: 10px;
        }